<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:m="http://code.google.com/p/gmaps4jsf/">



<h:outputStylesheet>
        .even-row {
            background-color: #FCFFFE;
        }
 
        .odd-row {
            background-color: #ECF3FE;
        }
 
        .even-row:hover,
        .odd-row:hover {
            background-color: #FFEBDA;
            cursor: pointer;
        }
        .label {
            font-weight: bold;
        }
        

        
        .rf-dg, .rf-dg-c, .rf-p{
    border-color: #E8BDBD;
    font-size: 11px;
    color: #980808;
    font-family: Arial,Verdana,sans-serif;
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    background-color: #E8BDBD;
        }
        .pbody {
            width: 180px;
        }
        .pfbody {
            width: 855px;
        }
        #wrap { 
  float: left;
  position: relative;
  width: 40%; 
  background: #ccc; 
} 
#fixed { 
  
}
        #content {
  width: 600px;
  height: 300px;
  position:relative;
}

        
    </h:outputStylesheet>


<f:view>
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?sensor=true">
        </script>
	<h:head>
		<h:graphicImage value="/images/aloha.jpg" width="100%" />
	</h:head>
	<h:body style="background-color:#F7F8E0;">
		<h:form id="mainForm">

			<a4j:jsFunction name="selectRow" action="#{mainBean.rowSelected}"
				render="mainForm, detailTouristAttractionPanel">
				<a4j:param name="currentTouristAttractionIndex"
					assignTo="#{mainBean.currentTouristAttractionIndex}" />
			</a4j:jsFunction>

			<a4j:jsFunction name="selectExcursion"
				action="#{mainBean.excursionSelected}"
				render="mainForm, detailExcursionPanel, map">
				<a4j:param name="selectedExcursion"
					assignTo="#{mainBean.selectedExcursion}" />
				<a4j:param name="idTmpOffer" assignTo="#{mainBean.idTmpOffer}" />
			</a4j:jsFunction>
			<rich:tabPanel>
				<rich:tab header="Offres">
           Liste des Offres
           
           <rich:panel id="offerPanel">

						<rich:panel style="width: 100%;">
        Choix de l'île
        <rich:select value="#{mainBean.currentIsland}"
								valueChangeListener="#{mainBean.valueIslandChanged}">
								<f:selectItems value="#{mainBean.islandList}" />
								<a4j:ajax event="change" execute="@this" />
							</rich:select>
        Type de site
        <rich:select value="#{mainBean.currentType}"
								valueChangeListener="#{mainBean.valueIslandChanged}">
								<f:selectItems value="#{mainBean.attractionList}" />
								<a4j:ajax event="change" execute="@this" />
							</rich:select>
        Site sur la même île que votre Hôtel ?
        <rich:select value="#{mainBean.currentChoice}"
								valueChangeListener="#{mainBean.valueIslandChanged}">
								<f:selectItems value="#{mainBean.choiceList}" />
								<a4j:ajax event="change" execute="@this" />
							</rich:select>
         Date d'arrivée
                <rich:calendar value="#{mainBean.selectedArrivalDate}"
								id="calendar" popup="true" datePattern="#{mainBean.pattern}"
								showApplyButton="true" cellWidth="24px" cellHeight="22px"
								style="width:200px">
							</rich:calendar>
         
         Date de départ
                <rich:calendar value="#{mainBean.selectedDepartureDate}"
								id="calendar2" popup="true" datePattern="#{mainBean.pattern}"
								showApplyButton="true" cellWidth="24px" cellHeight="22px"
								style="width:200px">
							</rich:calendar>
							<h:commandButton value="Construire Offre"
								action="#{mainBean.buildOffer}" render="mainForm"
								id="buildOfferButton" />
						</rich:panel>
						<rich:panel style="width: 100%;" id="buttonOffer">
						Mot Clés (Ex: "Plage Aquarium Honolulu") :<rich:autocomplete
								value="#{mainBean.keyWord}" mode="cachedAjax" tokens=", "
								minChars="1" autofill="false"
								autocompleteMethod="#{mainBean.autocompleteKeyWord}" />
						</rich:panel>
						<rich:panel>Bienvenue sur le Site de l'Agence AlohAGP Travel, sans doute la meilleure agence de voyage!
					<ul>
								<li>Vous pouvez dès maintenant construire votre propre
									voyage personalisé à Hawaï!</li>
								<li></li>
								<li>Séléctionnez les critères de votre choix et appuyez sur
									le bouton pour accéder à plusieurs propositions de voyages
									construits pour vous sur-mesure!</li>
								<li></li>
								<li>Pour plus de renseignements sur les hôtels, restaurants
									et sites touristiques présents à Hawaï, vous pouvez naviguer
									entre les onglets les concernant.</li>
								<li>Pour plus de renseignements sur les expéditions
									proposées dans les offres, cliquez dessus pour afficher le
									detail.</li>
								<li></li>
								<li>Pour encore plus de précision, vous pouvez aussi entrer
									différents mots clés dans le champ de recherche et ils seront
									pris en compte, car chez AlohAGP,</li>
								<li>on pense d'abord à vous!</li>
							</ul>

						</rich:panel>
						<h:form id="offerForm">
							<h:panelGrid columns="2">
								<rich:dataGrid id="offerGrid" class="rf-dg-b"
									value="#{mainBean.offerList}" var="offer"
									iterationStatusVar="iteration" columns="1" elements="5"
									width="1200px" border="0">
									<rich:panel bodyClass="pfbody">
										<f:facet name="header">
											<h:outputText value="Offre #{iteration.index}" />
										</f:facet>
										<h:panelGrid columns="2">
											<h:outputText value="Nom de l'Hôtel:" styleClass="label" />
											<h:outputText value="#{offer.hotel.nameHotel}" />
											<h:outputText value="Prix total:" styleClass="label" />
											<h:outputText value="#{offer.totalPrice} $" />
										</h:panelGrid>

										<rich:dataGrid value="#{mainBean.getDayEnum(iteration)}"
											iterationStatusVar="iteration2" var="keyDay" columns="4"
											elements="7" width="600px" border="0">
											<rich:panel bodyClass="pbody"
												onclick="selectExcursion('#{keyDay.lunchRestaurant.nameRestaurant}','#{iteration.index}');">
												<f:facet name="header">
													<h:outputText
														value="#{mainBean.getTrueDate(iteration, iteration2)}" />
												</f:facet>
												<h:panelGrid columns="2">
													<h:outputText value="Temps de l'expédition:"
														styleClass="label" />
													<h:outputText
														value="#{keyDay.getFormattedTime(keyDay.timeInHours)}" />
													<h:outputText value="Restaurant:" styleClass="label" />
													<h:outputText
														value="#{keyDay.lunchRestaurant.nameRestaurant}" />
												</h:panelGrid>
											</rich:panel>
										</rich:dataGrid>


										<a4j:commandButton id="validation"
											value="Validation du séjour">

											<rich:componentControl target="popup1" operation="show" />
											<rich:popupPanel id="popup1" modal="false" autosized="true"
												resizeable="false">
												<f:facet name="header">
													<h:outputText value="Simple popup panel" />
												</f:facet>
												<f:facet name="controls">
													<h:outputLink value="#"
														onclick="#{rich:component('popup')}.hide(); return false;"
														style="color: inherit">
                                                    X
                                                </h:outputLink>
												</f:facet>


												<p>

													<h:graphicImage value="/images/lilo.jpg" width="10%" />

													<FONT size="10pt">AlohAGP Travel vous souhaite un
														bon voyage !</FONT> <a href="#"
														onclick="#{rich:component('popup1')}.hide()">hide this
														panel</a>:
													<f:verbatim>&#35;</f:verbatim>
												</p>
											</rich:popupPanel>

										</a4j:commandButton>



									</rich:panel>
								</rich:dataGrid>

								<rich:panel id="detailExcursionPanel"
									header="Détails de l'Excursion"
									rendered="#{mainBean.rowExcursionIsSelected}"
									bodyClass="top: 10px;">
									<m:map id="map" partiallyTriggered="true" width="500px"
										latitude="20.7" longitude="202.5" height="500px" zoom="7"
										autoReshape="true">
										<c:forEach var="item" items="#{mainBean.travelFromMap}"
											varStatus="status">
											<m:marker latitude="#{mainBean.latitudeList1[status.index]}"
												longitude="#{mainBean.longitudeList1[status.index]}" />
											<m:htmlInformationWindow
												latitude="#{mainBean.latitudeList1[status.index]}"
												longitude="#{mainBean.longitudeList1[status.index]}"
												htmlText="Départ Trajet #{status.index + 1}" />
											<m:marker latitude="#{mainBean.latitudeList2[status.index]}"
												longitude="#{mainBean.longitudeList2[status.index]}" />
											<m:htmlInformationWindow
												latitude="#{mainBean.latitudeList2[status.index]}"
												longitude="#{mainBean.longitudeList2[status.index]}"
												htmlText="Arrivée Trajet #{status.index + 1}" />
										</c:forEach>

									</m:map>

									<rich:dataTable value="#{mainBean.travelFromMap}" var="travel"
										rows="#{mainBean.travelListSize}"
										iterationStatusVar="iteration">
										<f:facet name="header">
											<rich:columnGroup>
												<rich:column colspan="4">
													<h:outputText value="Aperçu des itinéraires" />
												</rich:column>
												<rich:column breakRowBefore="true">
													<h:outputText value="Origine" />
												</rich:column>
												<rich:column>
													<h:outputText value="Arrivé" />
												</rich:column>
												<rich:column>
													<h:outputText value="Distance à parcourir" />
												</rich:column>
												<rich:column>
													<h:outputText value="Durée du trajet" />
												</rich:column>
											</rich:columnGroup>
										</f:facet>
										<rich:column colspan="4">
											<rich:collapsibleSubTableToggler for="sbtbl" />
											<h:outputText value="Trajet #{iteration.index +1}" />
										</rich:column>
										<rich:collapsibleSubTable value="#{mainBean.travelFromMap}"
											var="item" id="sbtbl" expandMode="client" rows="#{1}"
											iterationStatusVar="iteraSub">
											<rich:column>
												<h:outputText rendered="#{travel.hotelToTouristAttraction}"
													value="#{travel.hotelB.nameHotel}" />
												<h:outputText rendered="#{!travel.hotelToTouristAttraction}"
													value="#{travel.touristAttractionA.nameTouristAttraction}" />
											</rich:column>
											<rich:column>
												<h:outputText rendered="#{travel.hotelToTouristAttraction}"
													value="#{travel.touristAttractionA.nameTouristAttraction}" />
												<h:outputText
													rendered="#{!travel.hotelToTouristAttraction and iteration.index!=1}"
													value="#{travel.touristAttractionB.nameTouristAttraction}" />
												<h:outputText
													rendered="#{!travel.hotelToTouristAttraction and iteration.index==1}"
													value="#{travel.hotelB.nameHotel}" />
											</rich:column>
											<rich:column>
												<h:outputText value="#{item.distance}" />
											</rich:column>
											<rich:column>
												<h:outputText value="#{item.formattedTravelTime}" />
											</rich:column>
										</rich:collapsibleSubTable>
									</rich:dataTable>
								</rich:panel>
							</h:panelGrid>
						</h:form>
					</rich:panel>

				</rich:tab>
				<rich:tab header="Hôtel" render="hotelPanelGrid, hotelTable">
           Liste des Hôtels
           <h:panelGrid columns="2" id="hotelPanelGrid">
						<rich:dataTable value="#{mainBean.hotelList}" var="hotel"
							id="hotelTable" rows="30" iterationStatusVar="iteration"
							rowClasses="odd-row, even-row" styleClass="stable"
							style="width: 100%">
							<f:facet name="noData">
                Nothing found
            </f:facet>
							<rich:column filterValue="#{mainBean.islandFilter}"
								filterExpression="#{fn:containsIgnoreCase(hotel.islandName, mainBean.islandFilter)}"
								filterType="custom">
								<f:facet name="header">
									<h:panelGroup>
										<h:outputText value="Iles " />
										<h:selectOneMenu value="#{mainBean.islandFilter}">
											<f:selectItems value="#{mainBean.islandNameList}" />
											<a4j:ajax render="hotelTable" execute="@this" event="change" />
										</h:selectOneMenu>
									</h:panelGroup>
								</f:facet>
								<h:outputText value="#{hotel.islandName}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Adresse " />
								</f:facet>
								<h:outputText value="#{hotel.addressHotel}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Prix " />
								</f:facet>
								<h:outputText value="#{hotel.priceHotel}" />
							</rich:column>
							<rich:column filter="#{mainBean.starsFilterImpl}"
								filterType="custom">
								<f:facet name="header">
									<h:panelGroup>
										<h:outputText value="Etoiles " />
										<h:inputText value="#{mainBean.starsFilter}">
											<f:convertNumber groupingUsed="true" />
											<f:validateLongRange maximum="5" />
											<a4j:ajax event="change" render="hotelTable" execute="@this" />
										</h:inputText>
									</h:panelGroup>
								</f:facet>
								<h:outputText value="#{hotel.numberOfStars}" />
							</rich:column>
							<rich:column filterValue="#{mainBean.hotelNameFilter}"
								filterExpression="#{fn:containsIgnoreCase(hotel.nameHotel,mainBean.hotelNameFilter)}"
								filterType="custom">
								<f:facet name="header">
									<h:panelGroup>
										<h:outputText value="Nom Hôtel " />
										<h:inputText value="#{mainBean.hotelNameFilter}">
											<a4j:ajax event="change" render="hotelTable" execute="@this" />
										</h:inputText>
									</h:panelGroup>
								</f:facet>
								<h:outputText value="#{hotel.nameHotel}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Aperçu " />
								</f:facet>
								<h:graphicImage value="#{hotel.hotelPhotoLink}" />
								<p style="display: none">

									<a4j:commandButton id="hiddenHotelLink" immediate="true"
										execute="@this" render="mainForm"
										action="#{mainBean.rowSelected}">
										<a4j:param value="#{iteration.index}"
											assignTo="#{mainBean.currentHotelIndex}" />
									</a4j:commandButton>

								</p>
							</rich:column>

						</rich:dataTable>
					</h:panelGrid>
				</rich:tab>
				<rich:tab header="Restaurants">
            Liste des Restaurants 
            <h:panelGrid columns="2">
						<rich:dataTable value="#{mainBean.restaurantList}"
							var="restaurant" id="restaurantTable" rows="30"
							rowClasses="odd-row, even-row" iterationStatusVar="iteration"
							styleClass="stable">
							<f:facet name="noData">
                Nothing found
            </f:facet>
							<rich:column filterValue="#{mainBean.restaurantTypeFilter}"
								filterExpression="#{fn:containsIgnoreCase(restaurant.typeRestaurant, mainBean.restaurantTypeFilter)}"
								filterType="custom">
								<f:facet name="header">
									<h:panelGroup>
										<h:outputText value="Type " />
										<h:selectOneMenu value="#{mainBean.restaurantTypeFilter}">
											<f:selectItems value="#{mainBean.restaurantTypeList}" />
											<a4j:ajax render="restaurantTable" execute="@this"
												event="change" />
										</h:selectOneMenu>
									</h:panelGroup>
								</f:facet>
								<h:outputText value="#{restaurant.typeRestaurant}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Adresse " />
								</f:facet>
								<h:outputText value="#{restaurant.addressRestaurant}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Prix " />
								</f:facet>
								<h:outputText value="#{restaurant.priceRestaurant}" />
							</rich:column>
							<rich:column filter="#{mainBean.starsRestaurantFilterImpl}"
								filterType="custom">
								<f:facet name="header">
									<h:panelGroup>
										<h:outputText value="Etoiles " />
										<h:inputText value="#{mainBean.starsRestaurantFilter}">
											<f:convertNumber groupingUsed="true" />
											<f:validateLongRange maximum="5" />
											<a4j:ajax event="change" render="restaurantTable"
												execute="@this" />
										</h:inputText>
									</h:panelGroup>
								</f:facet>
								<h:outputText value="#{restaurant.stars}" />
							</rich:column>
							<rich:column filterValue="#{mainBean.restaurantNameFilter}"
								filterExpression="#{fn:containsIgnoreCase(restaurant.nameRestaurant,mainBean.restaurantNameFilter)}"
								filterType="custom">
								<f:facet name="header">
									<h:panelGroup>
										<h:outputText value="Nom Restaurant " />
										<h:inputText value="#{mainBean.restaurantNameFilter}">
											<a4j:ajax event="change" render="restaurantTable"
												execute="@this" />
										</h:inputText>
									</h:panelGroup>
								</f:facet>
								<h:outputText value="#{restaurant.nameRestaurant}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Aperçu " />
								</f:facet>
								<h:graphicImage value="#{restaurant.photoLinkRestaurant}" />
								<p style="display: none">
									<a4j:commandButton id="hiddenRestaurantLink" immediate="true"
										execute="@this" render="mainForm"
										action="#{mainBean.rowRestaurantSelected}">
										<a4j:param value="#{iteration.index}"
											assignTo="#{mainBean.currentRestaurantIndex}" />
									</a4j:commandButton>
								</p>
							</rich:column>
						</rich:dataTable>
					</h:panelGrid>
				</rich:tab>

				<rich:tab header="Sites Touristiques">
            Liste des sites touristiques
            <h:panelGrid columns="2">
						<rich:dataTable value="#{mainBean.touristAttractionList}"
							var="touristAttraction" id="touristAttractionTable" rows="30"
							rowClasses="odd-row, even-row" styleClass="stable"
							iterationStatusVar="iteration"
							onrowclick="selectRow('#{iteration.index}');">
							<f:facet name="noData">
                Nothing found
            </f:facet>
							<rich:column
								filterValue="#{mainBean.touristAttractionIslandFilter}"
								filterExpression="#{fn:containsIgnoreCase(touristAttraction.islandName, mainBean.touristAttractionIslandFilter)}"
								filterType="custom">
								<f:facet name="header">
									<h:panelGroup>
										<h:outputText value="Iles " />
										<h:selectOneMenu
											value="#{mainBean.touristAttractionIslandFilter}">
											<f:selectItems value="#{mainBean.islandNameList}" />
											<a4j:ajax render="touristAttractionTable" execute="@this"
												event="change" />
										</h:selectOneMenu>
									</h:panelGroup>
								</f:facet>
								<h:outputText value="#{touristAttraction.islandName}" />
							</rich:column>
							<rich:column
								filterValue="#{mainBean.touristAttractionTypeFilter}"
								filterExpression="#{fn:containsIgnoreCase(touristAttraction.typeTouristAttraction, mainBean.touristAttractionTypeFilter)}"
								filterType="custom">
								<f:facet name="header">
									<h:panelGroup>
										<h:outputText value="Type " />
										<h:selectOneMenu
											value="#{mainBean.touristAttractionTypeFilter}">
											<f:selectItems value="#{mainBean.typeTouristAttractionList}" />
											<a4j:ajax render="touristAttractionTable" execute="@this"
												event="change" />
										</h:selectOneMenu>
									</h:panelGroup>
								</f:facet>
								<h:outputText value="#{touristAttraction.typeTouristAttraction}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Prix " />
								</f:facet>
								<h:outputText
									value="#{touristAttraction.priceTouristAttraction}" />
							</rich:column>
							<rich:column
								filter="#{mainBean.timeVisiteTouristAttractionFilterImpl}"
								filterType="custom">
								<f:facet name="header">
									<h:panelGroup>
										<h:outputText value="Temps de visite " />
										<h:inputText
											value="#{mainBean.timeVisiteTouristAttractionFilter}">
											<f:convertNumber groupingUsed="true" />
											<f:validateLongRange maximum="1000" />
											<a4j:ajax event="change" render="touristAttractionTable"
												execute="@this" />
										</h:inputText>
									</h:panelGroup>
								</f:facet>
								<h:outputText
									value="#{touristAttraction.timeVisiteTouristAttraction}" />
							</rich:column>
							<rich:column
								filterValue="#{mainBean.nameTouristAttractionFilter}"
								filterExpression="#{fn:containsIgnoreCase(touristAttraction.nameTouristAttraction,mainBean.nameTouristAttractionFilter)}"
								filterType="custom">
								<f:facet name="header">
									<h:panelGroup>
										<h:outputText value="Nom Site " />
										<h:inputText value="#{mainBean.nameTouristAttractionFilter}">
											<a4j:ajax event="change" render="touristAttractionTable"
												execute="@this" />
										</h:inputText>
									</h:panelGroup>
								</f:facet>
								<h:outputText value="#{touristAttraction.nameTouristAttraction}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Aperçu " />
								</f:facet>
								<h:graphicImage value="#{touristAttraction.photoLink}" />
								<p style="display: none">
									<a4j:commandButton id="hiddenTouristAttractionLink"
										immediate="true" execute="@this"
										render="mainForm, detailTouristAttractionPanel"
										action="#{mainBean.rowTouristAttractionSelected}">
										<a4j:param value="#{iteration.index}"
											assignTo="#{mainBean.currentRestaurantIndex}" />
									</a4j:commandButton>
								</p>
							</rich:column>
						</rich:dataTable>
						<rich:panel id="detailTouristAttractionPanel"
							header="Détails du Site Touristique"
							rendered="#{mainBean.rowIsSelected}">
							<m:map id="mapAttractionTourist" partiallyTriggered="true"
								width="500px" latitude="20.7" longitude="202.5" height="500px"
								zoom="7" autoReshape="true">
								<m:marker latitude="#{mainBean.latitude}"
									longitude="#{mainBean.longitude}" />
							</m:map>
							<div>
								<h:outputText value="Description du Site Touristique :" />
								<h:outputText
									value="#{mainBean.currentTouristAttraction.descriptionTouristAttraction}" />
							</div>

						</rich:panel>
					</h:panelGrid>
				</rich:tab>
			</rich:tabPanel>
		</h:form>
	</h:body>
</f:view>
</html>

